
div canvas {
	background-image: url("../images/wood.jpeg");
	border: 1px solid black;
	/* testing some % stuff */
	width: 50%;
	height: 50%;
}

#rune_container {
	border: 1px solid red;	
	width: 100%;
	height: 50%;
	display: block;
}

/* 	class to control where the rune details go, for now 
 	they are just all on top of each other. When clicking we
	show or hide the one selected.
*/
.details {
	border: 1px solid yellow;
	position: absolute;
	width: 50%;
	height: 50%;
	display: block;
}

.button_canvas {
	width: 2.5em;
	height: 2.5em;
	border: 1px solid black;
}

.button_link {
	width: 5em;
}

.align-right {
	text-align: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#nav_large_screen {
	-moz-column-width: 150px;
	-webkit-column-width: 150px;	
	border: 1px solid blue;
	
}

#nav_large_screen ul li {
	width: 5em;
	text-align: center;
}
