
body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

ul {
    font-size: 1.5625em;      /* 25px / 16px = 0.875em */
}

img {
	max-width: 100%;
	padding-top: 0px;
	margin-top: 0px;
}

/* header div and the h1 title inside in it */
#fehu_header, #uruz_header, #thurisaz_header, #ansuz_header, #raidho_header, #kenaz_header, #gebo_header, #wunjo_header, #hagalaz_header, #naudhiz_header, #isa_header, #jera_header, #eihwaz_header, #perthro_header, #elhaz_header, #sowilo_header, #tiwaz_header, #berkano_header, #ehwaz_header, #mannaz_header, #laguz_header, #ingwaz_header, #dagaz_header, #othala_header {
		
		text-align: center;
		height: 3.125em;  /* 50px / 16px = 0.625 */
		
}

#fehu_header h1, #uruz_header h1, #thurisaz_header h1, #ansuz_header h1, #raidho_header h1, #kenaz_header h1, #gebo_header h1, #wunjo_header h1, #hagalaz_header h1, #naudhiz_header h1, #isa_header h1, #jera_header h1, #eihwaz_header h1, #perthro_header h1, #elhaz_header h1, #perthro_header h1, #elhaz_header h1, #sowilo_header h1, #tiwaz_header h1, #berkano_header h1, #ehwaz_header h1, #mannaz_header h1, #laguz_header h1, #ingwaz_header h1, #dagaz_header h1, #othala h1 {
	
	margin-top: 0px;
	font-size: 1.875em; /* 30px / 16px = 1.25 */
}

#fehu_image, #uruz_image, #thurisaz_image, #ansuz_image, #raidho_image, #kenaz_image, #gebo_image, #wunjo_image, #hagalaz_image, #naudhiz_image, #isa_image, #jera_image, #eihwaz_image, #perthro_image, #elhaz_image, #sowilo_image, #tiwaz_image, #berkano_image, #ehwaz_image, #mannaz_image, #laguz_image, #ingwaz_image, #dagaz_image, #othala_image {
	
	width: 50%;
	margin-top: 0%;
}

#fehu_desc, #uruz_desc, #thurisaz_desc, #ansuz_desc, #raidho_desc, #kenaz_desc, #gebo_desc, #wunjo_desc, #hagalaz_desc, #naudhiz_desc, #isa_desc, #jera_desc, #eihwaz_desc, #perthro_desc, #elhaz_desc, #sowilo_desc, #tiwaz_desc, #berkano_desc, #ehwaz_desc, #mannaz_desc, #laguz_desc, #ingwaz_desc, #dagaz_desc, #othala_desc {
	
	width: 45%;
	float: right;
}

#fehu_footer, #uruz_footer, #thurisaz_footer, #ansuz_footer, #raidho_footer, #kenaz_footer, #gebo_footer, #wunjo_footer, #hagalaz_footer, #naudhiz_footer, #isa_footer, #jera_footer, #eihwaz_footer, #perthro_footer, #elhaz_footer, #sowilo_footer, #tiwaz_footer, #berkano_footer, #ehwaz_footer, #mannaz_footer, #laguz_footer, #ingwaz_footer, #dagaz_footer, #othala_footer {
	position: absolute;
	bottom: 0px;
	height: 40px;
}

a.align-right {
	position: absolute;
	right: 5px;
}

a.align-left {
	position: absolute;
	left: 5px;
}

a.align-center {
	position: absolute;
	width: 60px;
	left: 125px;
	
}

