/* please check the end of the file for all @media queries */

body {
	background-color: #333366;
	font-family: monospace;
	color: #fff;
	/* below testing for goldilocks */
	max-width: 30em; /* single column */
	padding: 0 0.809em;
	margin: auto;
	border: 1px solid yellow;
}


h1 {
	font-family: monospace;
	color: #fff;
	size: 40pt;
	text-align: center;
}

canvas {
	background-image: url("../images/wood.jpeg");
	/* testing some % stuff */
}

/* temp */
#choice, #how_to_cast {
	text-align: center;
	margin-bottom: 2em;
}
#choice a:link, #choice a:visited, #how_to_cast a:link, #how_to_cast a:visited {
	display: block;
	width: 47%;
	height: 2em;
	background-color: #336633;
	color: white;
	text-decoration: none;
	border-radius: 35px;
        -moz-border-radius: 35px;
        box-shadow: 5px 5px 5px #000;
	padding-top: .5em;
}

#choice a:hover, #how_to_cas a:hover {
	box-shadow: 5px 5px 5px #fff;
}	

#how_to_cast {
	display: none;
}

#how_to_cast a {
	margin-left: auto;
	margin-right: auto;
}

#pre_cast_button {
	float: right;
	margin-left: 1em;
}

#explore_button {
	margin-right: 1em;
}

#what_are_runes {
	text-align: center;
}

#rune_container {
	width: 100%;
	height: 50%;
}

.details {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	padding-bottom: 3em;
	background-color: #b09b86;
	border-radius: 35px;
        -moz-border-radius: 35px;
        box-shadow: 5px 5px 5px #000;
}

.details_container canvas {
	margin-left: 8%;
	margin-right: auto;
	-moz-border-radius: 8em;
	border-radius: 8em;
	width: 16em;
	height: 16em;
	border: 3px solid black;
}

.details h2 {
	text-align: center;
	font-size: 3em;
}

.details ul {
	font-size: 2em;
}

.button_canvas {
	width: 2.5em;
	height: 2.5em;
	border: 1px solid black;
}

.button_link {
	width: 5em;
}

.align-right {
	text-align: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.float_right {
	float: right;
}

#nav_large_screen_table {
	display: table;
	width: 100%;
}

#nav_large_screen {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1em;
	display: none;
	
}

div.table_cell canvas, div.table_cell_small canvas {
	width: 4em;
	height: 4em;
	border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 3px 3px 5px #000;
}

div.table_cell a:link, div.table_cell a:visited {
	text-decoration: none;
	color: white;
	/* get the text to center under the canvas buttons */
	display: block;
	text-align: center;
	width: 100%;
}

div.table_cell_small a:link, div.table_cell_small a:visited {
	text-decoration: none;
	color: white;
	display: block;
	width: 100%;
}

div.table_cell_left a:link, div.table_cell_left a:visited {
	padding-left: 1em;
}

div.table_cell_right a:link, div.table_cell_right a:visited {
	padding-left: 20%;
}


div.table_row {
	display: table-row;
}	

div.table_cell {
	display: table-cell;
	width: 6em; /* max-width / 8 columns */
	height: 5em;
	padding-left: 1em;
	padding-right: .5em;
	padding-top: 1em;
	padding-bottom: 1em;
}

div.table_cell_small {
	display: table-cell;
	width: 6em; 
	height: 5em;
}

div.table_cell_right {
	padding-left: 30%;
}

div.table_cell_left {
	padding-left: 2em;
}

div.nav_small_screen {
	display: none;
}


/* multi-column, i.e. just right and larger */
@media screen and (min-width: 36.236em) { 
	body {
		max-width: 50.618em; /* multi-column */
		padding: 0 1.618em;
	}
	
	.details_container {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		-mox-column-gap: 20px;
		-webkit-column-gap: 20px;
	}


}

/* small screen (smart phones, etc) */
@media screen and (max-width: 36em) {
	#nav_large_screen_table {
		display: none;
	}

	div.nav_small_screen {
		display: table;
		width: 100%;
	}

	.details_container canvas {
		margin-left: 12%;
	}
	
	.details_container ul {
		margin-left: 1em;
	}
}

/* small screen (smart phones, etc)  and landscape mode */
@media screen and (max-width: 36em) and (orientation: landscape) {

	body {
		border: 1px solid green;
		max-width: 36em;
	}

	/* details */
	.details {
		width: 100%;
	}	

	.details h2 {
		font-size: 2em;
		margin-bottom: 0;
	}

	.details ul {
		font-size: 1.5em;
	}
		

	.details_container {
                -moz-column-count: 2;
                -webkit-column-count: 2;
                -mox-column-gap: 20px;
                -webkit-column-gap: 20px;
        }


	/* details_container canvas */
	.details_container canvas {
		-moz-border-radius: 8em;
       	 	border-radius: 8em;
        	width: 10em;
       	 	height: 10em;
        	border: 3px solid black
	}


	/* nav_small_screen */
	.nav_small_screen {
		margin-bottom: 0;
		margin-top: 1em;
	}

	div.table_cell_right {
        	padding-left: 40%;
	}

	div.table_cell_left {
        	padding-left: 5em;
	}

	div.table_cell_right a:link, div.table_cell_right a:visited {
        	padding-left: 10%;
	}

}
