body {
	background-color: #333366;
	font-family: monospace;
}

h1 {
	font-family: monospace;
	color: #fff;
	size: 40pt;
	text-align: center;
}

div canvas {
	background-image: url("../images/wood.jpeg");
	/* testing some % stuff */
	width: 35%;
	height: 40%;
	border-radius: 35px;
	-moz-border-radius: 35px;
	box-shadow: 3px 3px 5px #000;
}

/* temp */
#choice {
	text-align: center;
}
#choice a:link, #choice a:visited {
	color: white;
}

#rune_container {
	border: 1px solid red;	
	width: 100%;
	height: 50%;
}

.details {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3em;
	padding-bottom: 3em;
	background-color: #b09b86;
	border-radius: 35px;
        -moz-border-radius: 35px;
        box-shadow: 5px 5px 5px #000;
}

@media screen and (min-width: 600px) {
	.details_container {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		-mox-column-gap: 20px;
		-webkit-column-gap: 20px;
		
	}
}

.details_container canvas {
	margin-left: 5em;
	margin-right: auto;
	-moz-border-radius: 8em;
	border-radius: 8em;
	width: 14em;
	height: 14em;
	border: 3px solid black;
}

.details h2 {
	text-align: center;
	font-size: 3em;
}

.details ul {
	font-size: 2em;
}

.button_canvas {
	width: 2.5em;
	height: 2.5em;
	border: 1px solid black;
}

.button_link {
	width: 5em;
}

.align-right {
	text-align: right;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.float_right {
	float: right;
}

#nav_large_screen {
	-moz-column-width: 100px;
	-webkit-column-width: 100px;	
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: none;
	
}

#nav_large_screen ul li {
	width: 2.5em;
	text-align: center;
	font-family: monospace;	
}

/* 	don't want to write js to detect smartphones so don't display the stuff in the div 
 	since the nav_large_screen is getting displayed via js 
*/
@media screen and (device-height: 480px) and (device-width: 320px) and (orientation: portrait) {
	#nav_large_screen ul {
		display: none;
	}
}
@media screen and (device-height: 480px) and (device-width: 320px) and (orientation: landscape) {
	#nav_large_screen ul {
		display: none;
	}
}

#nav_large_screen ul li a:link, #nav_large_screen ul li a:visited {
	text-decoration: none;
	color: white;
}

#nav_large_screen ul {
	list-style-type: none;
}

#nav_large_screen ul li canvas {
	width: 100%;
}
