


/*
#fehu {
	border: solid red 1px;
	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	column-count: 2;
	column-gap: 10px;
	height: 300px;
}

#fehu h1 {
	-moz-column-span: all;
	-webkit-column-span: 2;
	column-span: all;
	border: solid blue 1px;
}
*/

body {
    font: normal 100% Helvetica, Arial, sans-serif;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1.5em;        /* 24px / 16px = 1.5em */
}

ul {
    font-size: 0.875em;      /* 14px / 16px = 0.875em */
}

img {
	max-width: 100%;
	border: solid 1px yellow;
	padding-top: 0px;
	margin-top: 0px;
}

/* header div and the h1 title inside in it */
#header {
		border: solid 1px blue;
		text-align: center;
		
}

#image {
	border: solid 1px red;
	width: 50%;
	margin-top: 0%;
}

#desc {
	border: solid 1px green;
	width: 50%;
	float: right;
}